.remo-theater{
  margin-left: -378px;
  margin-top: -240px;

  .user-img.seat{
     position: absolute;
  }
  .user-img {
      width: 40px;
      height: 40px;
      border: 5px solid green;
      border-radius: 50%;
      transition: background-color 5s ease-in-out;
   }  
   .user-img.active{
      border-color: yellow;
   }
  .rt-app-bar {
    text-align: right;
    padding: 7px;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    margin-top: 240px;    
     .img-div, .text-div {
       display:inline-block;
    }
    .text-div.first{
      margin-right: 15px;      
    }    
    .text-div{
      padding-left: 10px;      
      position: relative;
      top: 85%; 
      -webkit-transform: translateY(-85%); 
      -ms-transform: translateY(-85%);
      transform: translateY(-85%);       
      a.logout {
         padding-left: 15px;
     }
    }
  }

  .rt-rooms {
    position: absolute;
    z-index: 1;
    .rt-room {
      position: absolute;
      cursor: pointer;

      .rt-room-name {
        font-size: 0.875rem;
        background: #fff;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
      }

      &:hover {
        background: rgba($color: #000000, $alpha: 0.1);
        border-radius: 4px;
      }
    }
  }
  .rt-background {
    position: absolute;
    img {
      object-fit: cover;
    }
  }
}